# Extensions
*.out
*.dat
*.png
*.dSYM
*.ipynb
*.mp4
*.mod
.DS_Store

# Executables
disk
schema
run
cleanup

# Folders
.vscode
doc/
python/plot.py
src/program_schema.f90
test.py
.bashrc
3d.py
create_frame
