# Extensions
*.out
*.dat
*.png
*.dSYM
*.ipynb
.DS_Store

# Executables
disk
scurve
schema
run
cleanup

# Folders
doc/
python/disk.py
python/plot.py
test.py
.bashrc
3d.py
anim.mp4
python/__pycache__/disk.cpython-310.pyc
fl.mp4
