! =======================================================================================================================
&input
    MASS           = 1.,     ! [FLOAT]  Masse du trou noir de Schwarzschild [M_solaire]
    f_accretion    = 0.017,  ! [FLOAT]  Taux d'accrétion du disque par rapport au taux critique
    r_max          = 100.,   ! [FLOAT]  Rayon maximal du disque [rayon_Schwarzschild]
    ALPHA          = 1.,     ! [FLOAT]  Paramètre phénoménologique (taux de production d'énergie par friction de la matière)
    X_FRAC         = 0.7,    ! [FLOAT]  Abondance en hydrogène
    Y_FRAC         = 0.28,   ! [FLOAT]  Abondance en hélium
    
    TIME_TO_REACH  = 125.,   ! [FLOAT]      Durée maximale à atteindre par la simulation
    NB_BOUCLES_MAX = 0,      ! [INTEGER]    Nombre de boucles à réaliser par la simulation (si 0 ou moins, pas de limite)

    COURBE_EN_S    = 0,      ! [INTEGER]    Lancer les courbes en S : 1, sinon 0
    Temp_min_ad    = 5.0e-2, ! [FLOAT]      Température minimale courbe en s
    Temp_max_ad    = 5.0e1,  ! [FLOAT]      Température maximale courbe en s
    Sg_ad          = 1.0,    ! [FLOAT]      Borne gauche de la dichotomie
    Sd_ad          = 1.0e6,  ! [FLOAT]      Borne droite de la dichotomie
    n_s            = 5000 ,  ! [INTEGER]    Nombre de points de la dichotomie

    frame_cond     = 0    ,  ! [INTEGER]    Ecrire les frames 2D : 1, sinon 0
/
! =======================================================================================================================
