! =======================================================================================================================
&input
    MASS           = 1.,     ! Masse du trou noir de Schwarzschild [M_solaire]
    f_accretion    = 0.017,  ! Taux d'accrétion du disque par rapport au taux critique
    r_max          = 100.,   ! Rayon maximal du disque [rayon_Schwarzschild]
    ALPHA          = 1.,     ! Paramètre phénoménologique (taux de production d'énergie par friction de la matière)
    X_FRAC         = 0.7,    ! Abondance en hydrogène
    Y_FRAC         = 0.28,   ! Abondance en hélium
    
    COURBE_EN_S    = 0,      ! Lancer les courbes en S : 1, sinon 0

    Temp_min_ad    = 5.0e-2, ! température minimale courbe en s
    Temp_max_ad    = 5.0e1,  ! température maximale courbe en s      
    Sg_ad          = 1.0,    ! borne gauche de la dichotomie
    Sd_ad          = 1.0e6,  ! borne droite de la dichotomie
    n_s            = 5000 ,  ! nombre de points de la dichotomie

    frame_cond     = 0    ,  ! écrire ou pas les frame 2D
/
! =======================================================================================================================
