! Nom du fichier de sortie
@output_dim == data_pluslong.out
@output_ad == data_ad.out

! Pas d'écriture & précision
dx ====== 1
dt ====== 1
prec ==== 6

! Header du fichier de sortie
@header
######################################################################
## SIMULATION PARAMETRES D'ENTREE
##
@input
@constantes
##
######################################################################
## OUTPUT
##
