! Nom du fichier de sortie
@output_dim == data.out
@output_ad == data_ad.out

! Pas d'écriture & précision
dx ====== 1
dt ====== 1000
prec ==== 4

! Paramètres affichés (indiquer 1 pour valider l'option, 0 sinon)
omega ======================= 1
pression_tot ================ 0
pression_gaz ================ 0
pression_rad ================ 0
beta ======================== 0
c_s ========================= 1
vit ========================= 1
rho ========================= 1
nu ========================== 1
Hauteur ===================== 1
Mdot ======================== 1
Sigma ======================= 1
Temp ======================== 1
Q+ ========================== 0
Q- ========================== 0
Qadv ======================== 0
Fz ========================== 0
tau_eff ===================== 1

! Header du fichier de sortie
@header
######################################################################
## SIMULATION PARAMETRES D'ENTREE
##
@input
@constantes
##
######################################################################
## OUTPUT
##
